<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-video-upload" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>VideoUpload</name>
    <js-module name="VideoUpload" src="www/VideoUpload.js">
        <clobbers target="window.VideoUpload" />
    </js-module>
    <platform name="ios">
        <dependency id="cordova-plugin-cocoapod-support"/>

        <pods-config ios-min-version="11.0" use-frameworks="true">
            <source url="https://github.com/CocoaPods/Specs.git"/>
        </pods-config>

        <pod id="AWSS3" />
        <config-file target="config.xml" parent="/*">
            <feature name="VideoUpload">
                <param name="ios-package" value="VideoUpload"/>
            </feature>
        </config-file>
        <header-file src="src/ios/VideoUpload.h" />
        <source-file src="src/ios/VideoUpload.m" />
        <header-file src="src/ios/VidUploader.h" />
        <source-file src="src/ios/VidUploader.m" />
        <header-file src="src/ios/GMPicker/GMAlbumsViewCell.h" />
        <source-file src="src/ios/GMPicker/GMAlbumsViewCell.m" />
        <header-file src="src/ios/GMPicker/GMAlbumsViewController.h" />
        <source-file src="src/ios/GMPicker/GMAlbumsViewController.m" />
        <header-file src="src/ios/GMPicker/GMGridViewCell.h" />
        <source-file src="src/ios/GMPicker/GMGridViewCell.m" />
        <header-file src="src/ios/GMPicker/GMGridViewController.h" />
        <source-file src="src/ios/GMPicker/GMGridViewController.m" />
        <header-file src="src/ios/GMPicker/GMImagePickerController.h" />
        <source-file src="src/ios/GMPicker/GMImagePickerController.m" />
        <header-file src="src/ios/GMPicker/ProgressViewController.h" />
        <source-file src="src/ios/GMPicker/ProgressViewController.m" />
        <header-file src="src/ios/GMPicker/RecordingView.h" />
        <source-file src="src/ios/GMPicker/RecordingView.m" />
        <header-file src="src/ios/GMPicker/RecordingUploader.h" />
        <source-file src="src/ios/GMPicker/RecordingUploader.m" />
        <!-- <header-file src="src/ios/AASelector/AAMultiSelectController.h" />
        <header-file src="src/ios/AASelector/AAMultiSelectModel.h" />
        <source-file src="src/ios/AASelector/AAMultiSelectModel.m" />
        <header-file src="src/ios/AASelector/AAMultiSelectTableViewCell.h" />
        <source-file src="src/ios/AASelector/AAMultiSelectTableViewCell.m" />
        <header-file src="src/ios/AASelector/AAMultiSelectViewController.h" />
        <source-file src="src/ios/AASelector/AAMultiSelectViewController.m" />
        <header-file src="src/ios/AASelector/AAPopupView.h" />
        <source-file src="src/ios/AASelector/AAPopupView.m" />
        <header-file src="src/ios/AASelector/AAPopupDefines.h" />
        
        <source-file src="src/ios/AASelector/Masonry/MASCompositeConstraint.m" />
        <header-file src="src/ios/AASelector/Masonry/MASCompositeConstraint.h" />
        <source-file src="src/ios/AASelector/Masonry/MASConstraint.m" />
        <header-file src="src/ios/AASelector/Masonry/MASConstraint.h" />
        <header-file src="src/ios/AASelector/Masonry/MASConstraint+Private.h" />
        <source-file src="src/ios/AASelector/Masonry/MASConstraintMaker.m" />
        <header-file src="src/ios/AASelector/Masonry/MASConstraintMaker.h" />
        <source-file src="src/ios/AASelector/Masonry/MASLayoutConstraint.m" />
        <header-file src="src/ios/AASelector/Masonry/MASLayoutConstraint.h" />
        <header-file src="src/ios/AASelector/Masonry/Masonry.h" />
        <header-file src="src/ios/AASelector/Masonry/MASUtilities.h" />
        <source-file src="src/ios/AASelector/Masonry/MASViewAttribute.m" />
        <header-file src="src/ios/AASelector/Masonry/MASViewAttribute.h" />
        <source-file src="src/ios/AASelector/Masonry/MASViewConstraint.m" />
        <header-file src="src/ios/AASelector/Masonry/MASViewConstraint.h" />
        <source-file src="src/ios/AASelector/Masonry/NSArray+MASAdditions.m" />
        <header-file src="src/ios/AASelector/Masonry/NSArray+MASAdditions.h" />
        <header-file src="src/ios/AASelector/Masonry/NSArray+MASShorthandAdditions.h" />
        <source-file src="src/ios/AASelector/Masonry/NSLayoutConstraint+MASDebugAdditions.m" />
        <header-file src="src/ios/AASelector/Masonry/NSLayoutConstraint+MASDebugAdditions.h" />
        <source-file src="src/ios/AASelector/Masonry/View+MASAdditions.m" />
        <header-file src="src/ios/AASelector/Masonry/View+MASAdditions.h" />
        <header-file src="src/ios/AASelector/Masonry/View+MASShorthandAdditions.h" />
        <source-file src="src/ios/AASelector/Masonry/ViewController+MASAdditions.m" />
        <header-file src="src/ios/AASelector/Masonry/ViewController+MASAdditions.h" /> -->

        <header-file src="src/ios/AppDelegate+VideoUpload.h" />
        <source-file src="src/ios/AppDelegate+VideoUpload.m" />
        <resource-file src="src/ios/GMPicker/GMEmptyFolder@1x.png" />
        <resource-file src="src/ios/GMPicker/GMEmptyFolder@2x.png" />
        <resource-file src="src/ios/GMPicker/GMSelected.png" />
        <resource-file src="src/ios/GMPicker/GMSelected@2x.png" />
        <resource-file src="src/ios/GMPicker/GMVideoIcon.png" />
        <resource-file src="src/ios/GMPicker/GMVideoIcon@2x.png" />
        <resource-file src="src/ios/GMPicker/CloseIcon.png" />
        <resource-file src="src/ios/GMPicker/CloseIcon@2x.png" />
        <resource-file src="src/ios/GMPicker/StopIcon.png" />
        <resource-file src="src/ios/GMPicker/StopIcon@2x.png" />
        <resource-file src="src/ios/GMPicker/RecIcon.png" />
        <resource-file src="src/ios/GMPicker/RecIcon@2x.png" />
        <resource-file src="src/ios/GMPicker/SwitchIcon.png" />
        <resource-file src="src/ios/GMPicker/SwitchIcon@2x.png" />
    </platform>
</plugin>
